body {
    background-color: #d0f0d0;
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo-container {
    background-color: hsl(120, 4%, 9%);
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  #logo-container h1 {
    color: rgb(13, 14, 13);
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    margin: 10;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  S
  nav a {
    text-decoration: none;
    color: #16151566;
  }
  
  section {
    padding: 50px;
    text-align: center;
  }
  
  h1, h2 {
    color: hsla(0, 4%, 10%, 0.459)
    ;
  }
  
  #inicio {
    background-color: #abd0e6;
    color: rgb(248, 6, 6);
  }
  
  #cursos {
    background-color: hsl(0, 25%, 94%);
  }
  
  #contacto {
    background-color: hs
    l(69, 8%, 67%);
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  ul li {
    margin-bottom: 10px;
  }
  
  footer {
    background-color: #131212;
    color: #aca0a0;
    text-align: center;
    padding: 10px;
  }
  /* Tu código CSS actual aquí */

/* Añadir estilos para resaltar los cursos */
#cursos ul li {
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  #cursos ul li:hover {
    background-color: #0a0a0a75;
  }
  .lefttexto{
    text-align:justify;
  }